<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" ><a routerLink="/recipies">Recipies</a></li>
        <li routerLinkActive="active" ><a routerLink="/shopping-list">Shopping List</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="authService.isAuthenticated()">
        <li class="dropdown" appDropdownDirective>
          <a style="cursor:pointer" class="dropdown-toggle">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor:pointer" (click)="onSaveData()">Save Data</a></li>
            <li><a style="cursor:pointer" (click)="onFetchData()">Fetch Data</a></li>
          </ul>

        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <li><a routerLink="/signup" style="cursor:pointer"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a routerLink="/signin" style="cursor:pointer"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ng-template>
        <li *ngIf="authService.isAuthenticated()"><a (click)="onLogout()" style="cursor:pointer"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
