<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipieForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" name="button" [disabled]="!recipieForm.valid" class="btn btn-primary">Save</button>
          <button type="button" name="button" class="btn btn-warning" (click)="onCancel()">Cancel</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">

          <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="">
          </div>

          <div class="form-group">
            <label for="">Image Path</label>
            <input type="text" class="form-control" id="image_path" name="imagePath" formControlName="imagePath" #imagePath placeholder="">
          </div>

          <div class="row">
            <div class="col-xs-12">
              <img [src]="imagePath.value" alt="" class="img-responsive">
            </div>
          </div>

          <div class="form-group">
            <label for="">Description</label>
            <textarea name="description" class="form-control" name="description" formControlName="description" rows="3"></textarea>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div
          class="row"
          *ngFor="let ingredientCtrl of recipieForm.get('ingredients').controls; let i = index"
          [formGroupName] = "i" style="margin-top:10px"
          >
            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-xs-2">
              <input type="number" class="form-control" formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" name="button" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-primary" (click)="onAddIngredients()" name="button">Add Ingredients</button>
            </div>
          </div>
        </div>


      </div>

    </form>
  </div>
</div>
