
<div class="row">
  
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
        <h1>SignUp Form</h1>
      <div class="form-group">
        <label for="">Email</label>
        <input type="email" ngModel class="form-control" id="email" name="email" placeholder="Enter Email">
      </div>

      <div class="form-group">
        <label for="">Password</label>
        <input type="password" ngModel class="form-control" id="password" name="password" placeholder="Enter Password">
      </div>

      <button type="submit" class="btn btn-primary" name="button">SignUp</button>
    </form>
  </div>
</div>
