<div class="row">
  <div class="col-xs-12">
    <h1>{{recipie.name}}</h1>
    <img [src]="recipie.imagePath" alt="{{recipie.name}}" class="img-responsive" style="height:200px">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdownDirective>
        <button class="btn btn-primary dropdown-toggle" >Manage Recipie <span class="caret"></span></button>
        <ul class="dropdown-menu" >
          <li><a (click)="onAddToShopList()" style="cursor:pointer">To Shopping List</a></li>
          <li><a style="cursor:pointer" (click)="onEditRecipie()">Edit Recipie</a></li>
          <li><a style="cursor:pointer" (click)="onDeleteRecipie()">Delete Recipie</a></li>
        </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h4>{{recipie.description}}</h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipie.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
