<div class="row">

  <div class="col-xs-12">
    <button type="button" name="button" class="btn btn-primary" (click)="onNewRecipie()">New Recipie</button>

  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipies-item
    *ngFor="let recipieElm of recipies; let i=index"
    [recipie]="recipieElm"
    [index] = "i"
    ></app-recipies-item>
  </div>
</div>
