<a
routerLinkActive = "active"
[routerLink] = "[index]"
style="cursor:pointer" class="list-group-item clearfix" >
  <div class="pull-right">
    <h4 class="list-group-item-heading">{{recipie.name}}</h4>
    <h4 class="list-group-item-text">{{recipie.description}}</h4>
  </div>
  <span class="pull-left">
    <img [src]="recipie.imagePath" alt="" class="img-responsive img-circle" style="max-height: 50px;">
  </span>
</a>
